/* By: Dylan Clarry */
.back-btn{
	padding-bottom: 50px;
}
.table-of-contents li{
	font-size: 1.15em;
}
.styled-list{
	list-style-type: disc;
}
ol, ul{
	list-style-type: none;
}
table, th, td {
	border: 1px solid #000;
}
td:nth-child(1){
	padding-left: 0;
}
td{
	padding-left: 25px;
	padding-right: 25px;
}